
.price-card {
    padding: 30px;
    border: 1px solid #dee2e6;
  }
  
  .price-card .price-card-title {
    font-size: 30px;
    margin-bottom: 20px;
    opacity: .8;
  }
  
  .price-card .price-card-cost {
    position: relative;
    margin-bottom: 30px;
    opacity: .8;
  }
  
  .price-card .price-card-cost sup {
    font-size: 18px;
    position: relative;
    top: -35px;
  }
  
  .price-card .price-card-cost .num {
    font-size: 55px;
    font-weight: bold;
    margin: 0 -2px 0 -7px;
  }
  
  .price-card .price-card-cost .date {
    font-size: 12px;
  }
  
  .price-card .price-card-cost .date:before {
    content: '/';
    padding-right: 2px;
  }
  
  .price-card .list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 50px;
  }
  
  .price-card .list .list-item {
    margin: 12px 0;
  }
  
  .price-card.price-card-requried {
    position: relative;
    overflow: hidden;
    padding: 50px 30px;
  }
  
  .price-card.price-card-requried:after {
    content: 'Nouveau';
    position: absolute;
    right: -25px;
    top: 10px;
    padding: 6px 10px;
    width: 100px;
    background: #289A48;
    color: #fff;
    font-weight: 400;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    font-size: 12px;
  }
  
  .price-card.price-card-requried .num {
    color: #289A48;
  }